/* 
.blob-2 {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 50px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  transition: top 0.05s ease, left 0.05s ease;
  z-index: 9999;
} */
